@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

// .jumbotron {

//     background-image: url("http://3.bp.blogspot.com/-lJZ0jO_PO8M/TiSEgS_HiEI/AAAAAAAAAjw/GzhqopIlDWY/s400/Panda%2Bnewer.jpg");
//     background-color: none;
// }


div.transbox {
  margin: 30px;
  padding: 15px;
  background-color: #f1f8ac;
  border: 1px solid black;
  opacity: 1.0;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

    