@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body, html {
  height: 100%;
//   background-image: url("https://i.pinimg.com/originals/72/a1/84/72a184aa7846cad0d5a82cf55dc3f406.jpg");
background-image: url("https://images.pexels.com/photos/639110/pexels-photo-639110.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.navbar {
    // background-image: url("https://cdn7.dissolve.com/p/D2115_139_081/D2115_139_081_1200.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Courier Prime', monospace;

}
.videoCarousel{ 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
.emptyDiv {
    height: 70px;
}

.aboutUs {
    font-family: 'Fjalla One', sans-serif;
    opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
    background-color: rgba(150, 151, 144, 0.856);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}

.socialMedia {
    padding-left: 5px;
    padding-right: 5px;
    
}



// div.transbox {
//   opacity: 0.6;
//   filter: alpha(opacity=60); /* For IE8 and earlier */
// }

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}


.socialMediaLinks {
    color: white;
    padding: 15px;
}
